{% for opt in product.options_with_values %}
	{% assign opt_l = opt.name | downcase %}
	{% if opt_l == "color" or opt_l == "colour" %}
	      {% for val in opt.values %}
	          <span class="color-swatch" 
	                style="
	                background-color: {{ val| split:" " | last }};"
                    >{{val}}</span>
	      {% endfor %}
	{% endif %}
{% endfor %}