 <div class="header__cart main_section">

                <a class="js-ajax-cart-drawer-trigger" href="/cart">
                  <span class="cart-name"><img src="https://cdn.shopify.com/s/files/1/0549/9984/2905/files/shopping-cart.png?v=1635314270"></span>
                    <span class="js-ajax-cart-counter">{{ cart.item_count }}</span>
                </a>

            </div>