 <div class="header__cart">

                <a class="js-ajax-cart-drawer-trigger" href="/cart">
            
                    <span class="js-ajax-cart-counter">{{ cart.item_count }}</span>
                </a>

            </div>