:root{
  --TitleFont : Montserrat,sans-serif;
  --BodyFont : Montserrat,sans-serif ;
    --mainColor:#333;
}
    
 body{
   font-family:var(--BodyFont);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    color: #333;
    line-height: 1.6em;
    overflow: auto;
 }

    
     @media(max-width:767px){
      .small--one{
         width:calc(100% - 20px);
      margin:0 auto;
      }
    }
    
 
    @media(min-width:768px){
      .medium--three{
         width:calc(33% - 20px);
      margin:0 auto;
      }
      .medium--two{
        width:calc(50% - 20px);
      margin:0 auto;
        
      }
    }
    
   @media(min-width:1200px) {
    .full--four{ 
     width:calc(25% - 20px);
      margin:0 auto;
    }
    .full--three{
       width:calc(33% - 20px);
      margin:0 auto;
    }
    .full--five{
       width:calc(20% - 20px);
      margin:0 auto;
    }
   }
    .one-whole{
      
        width:calc(100% - 20px);
    }
    
    .flex_prducts {
    display: flex;
    flex-wrap: wrap;
}
    
    .main_section{
     max-width: 1500px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
} 
    .container{
          position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
      
    }
   .grid-product__colors {
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
    
    .color-swatch {
    border-radius: 100%;
}

.color-swatch--small {
    width: 19px;
      margin: 0 12px;
    height: 19px;
}
    .visually-hidden {
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}
    .color-swatch--small:before {
    border-width: 3px;
}
[data-swatch_style=round] .color-swatch:before {
    border-radius: 100%;
    border-width: 4px;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}
.color-swatch--small:before {
    border: 2px solid;
    border-color: var( --mainColor);
    border-color: var( --mainColor);
}