:root{
  --TitleFont : Montserrat,sans-serif;
  --BodyFont : Montserrat,sans-serif ;
    --mainColor:#333;
}
    
html {
  font-size: 100%;
  overflow-y: scroll; /* 1 */
  min-height: 100%;
}
 body{
   font-family:var(--BodyFont);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    color: #333;
    line-height: 1.6em;
    overflow: auto;
 }

    .half-width-two {
    display: flex;
    align-items: end;
    flex-direction: column;
}
     @media(max-width:767px){
        .small--one{
           width:calc(100% - 20px);
        margin:0 auto;
        }
      }
      
   
   @media(min-width:768px){
    .medium--three{
         -webkit-box-flex: 0;
  -ms-flex: 0 0  calc(33% - 40px );
  flex: 0 0  calc(33% - 40px );
  max-width:  calc(33% - 40px );
    }
    .medium--two{
         -webkit-box-flex: 0;
  -ms-flex: 0 0  calc(50% - 40px );
  flex: 0 0  calc(50% - 40px );
  max-width:  calc(50% - 40px );
      
    }
     
     .half-width-third{
       -webkit-box-flex: 0;
  -ms-flex: 0 0  calc(75% - 40px );
  flex: 0 0  calc(75% - 40px );
  max-width:  calc(75% - 40px );
      
     }
     .half-width-two{
       -webkit-box-flex: 0;
  -ms-flex: 0 0  calc(25% - 40px );
  flex: 0 0  calc(25% - 40px );
  max-width:  calc(25% - 40px );
      
     }
  }
  
 @media(min-width:1200px) {
  .full--four{ 

   -webkit-box-flex: 0;
  -ms-flex: 0 0  calc(25% - 40px );
  flex: 0 0  calc(25% - 40px );
  max-width:  calc(25% - 40px );
  }
  .full--three{
      -webkit-box-flex: 0;
  -ms-flex: 0 0  calc(33% - 40px );
  flex: 0 0  calc(33% - 40px );
  max-width:  calc(33% - 40px );
  }
  .full--five{
      -webkit-box-flex: 0;
  -ms-flex: 0 0  calc(20% - 40px );
  flex: 0 0  calc(20% - 40px );
  max-width: calc(20% - 40px );
  }
 }
    .product-title {
    margin: 10px 0;
 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
    .sticky {
    position: sticky;
    top: 5%;
}
    .product-item{
    padding-right: 20px;
    padding-left: 20px;
          margin-bottom: 40px;
    }
    .one-whole{
      
        width:calc(100% - 20px);
    }
    button.add-to-cart ,button.btn.cart__checkout{
    display: block;
    width: 100%;
    padding: 8px;
    background: #E7D9CF;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-family: inherit;
      position: relative;
}
    form .flex_prducts {
    justify-content: space-between;
}
    .product-title {
    margin: 10px 0;
}
    .flex_prducts {
       display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
   .product-item img {
    width: 100%;
    object-fit: cover;
}
    .main_section{
     max-width: 1500px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
} 
    .container{
          position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
      
    }
   div#SingleOptionSelector-0{
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
    
    .color-swatch {
    border-radius: 100%;
}

.color-swatch {
    width: 19px;
      margin: 0 5px;
    height: 19px;
      position: relative;
}
    .visually-hidden {
	display:none;
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}
    
  .color-option .js-radio-button{
     display:none; 
    }
   
.color-option input[type=radio]:checked+.swatch-element .swatch {
    padding: 0px;
    box-shadow: 0px 0px 0px 1px #000;
}
.color-option .swatch {
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    width: 19px;
    border-radius: 100px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 10px #c5c1c1;
      cursor: pointer;
}
 .ajax-cart__drawer {
	 transition: getTransition();
	 position: fixed;
	 z-index: 40;
	 right: -400px;
	 top: 0;
	 width: 400px;
	 height: 100%;
	 background: #f6f6f6;
	 will-change: transform;
	 border-left: 1px solid #e9e9e9;
}
 .ajax-cart__drawer.is-open {
	 transform: translateX(-100%);
}
 .ajax-cart-modal {
	 position: relative;
}
 .ajax-cart-modal__close {
	 position: absolute;
	 right: 10px;
	 top: 10px;
}
 .ajax-cart-modal__content {
	 padding: 20px;
}
 .ajax-cart-drawer {
    position: relative;
    height: 100%;
    overflow: scroll;
}
 .ajax-cart-drawer__close {
	 position: absolute;
	 right: 10px;
	 top: 5px;
}
 .ajax-cart-drawer__content {
	 padding: 25px 25px 190px;
	 height: 100%;
	 overflow: hidden;
	 overflow-y: scroll;
}
 .ajax-cart-drawer__buttons {
	 position: absolute;
	 z-index: 10;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 190px;
	 background: #f6f6f6;
	 padding: 20px;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
}
 .ajax-cart-drawer__buttons .button:last-child {
	 margin-top: auto;
}
 .ajax-cart-item__single {
	 position: relative;
	 margin-bottom: 20px;
	 border-bottom: 2px solid red;
}
 .ajax-cart-item__image {
	 width: 100px;
}
 .ajax-cart-item__remove {
	 right: 5px;
	 width: 15px;
	 height: 15px;
	 background: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiBpY29uLWNsb3NlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGQ9Ik0xNS44OSAxNC42OTZsLTQuNzM0LTQuNzM0IDQuNzE3LTQuNzE3Yy40LS40LjM3LTEuMDg1LS4wMy0xLjQ4NXMtMS4wODUtLjQzLTEuNDg1LS4wM0w5LjY0MSA4LjQ0NyA0Ljk3IDMuNzc2Yy0uNC0uNC0xLjA4NS0uMzctMS40ODUuMDNzLS40MyAxLjA4NS0uMDMgMS40ODVsNC42NzEgNC42NzEtNC42ODggNC42ODhjLS40LjQtLjM3IDEuMDg1LjAzIDEuNDg1czEuMDg1LjQzIDEuNDg1LjAzbDQuNjg4LTQuNjg3IDQuNzM0IDQuNzM0Yy40LjQgMS4wODUuMzcgMS40ODUtLjAzcy40My0xLjA4NS4wMy0xLjQ4NXoiLz4KPC9zdmc+Cg==') center no-repeat;
	 background-size: cover;
	 cursor: pointer;
}
    
    .cart__page-col.cart-drawer__item-list {
    padding: 20px 10px;
}
 img.crossed-out {
    display: none;
}
    .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.bounceIn, .animated.bounceOut, .animated.flipOutX, .animated.flipOutY {
  animation-duration: 0.75s;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
.bounceIn {
  animation-name: bounceIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.zoomOut {
  animation-name: zoomOut;
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
.fadeOutLeft {
  animation-name: fadeOutLeft;
}

.delay-0s {
  animation-delay: 0;
}

.delay-025s {
  animation-delay: 0.25s;
  opacity: 0;
}

.delay-05s {
  animation-delay: 0.5s;
  opacity: 0;
}

.delay-075s {
  animation-delay: 0.75s;
  opacity: 0;
}

.delay-1s {
  animation-delay: 1s;
  opacity: 0;
}

.animate_right,
.animate_left,
.animate_up,
.animate_down {
  opacity: 0;
}

.ie .animated,
.ie .animate_right,
.ie .animate_left,
.ie .hsContent,
.ie #slide-1 .animated {
  opacity: 1 !important;
}

.ie delay-025s,
.ie .delay-0s,
.ie .delay-025s,
.ie .delay-05s,
.ie .delay-075s,
.ie .delay-1s {
  opacity: 1 !important;
}

.ie select {
  background-image: none !important;
}

@media only screen and (max-width: 1024px) {
  .delay-0s,
.delay-025s,
.delay-05s,
.delay-075s,
.delay-1s,
.animate_right,
.animate_left,
.animate_up,
.animate_down {
    opacity: 1;
  }
}
    @keyframes drawCheckmark {
  from {
    stroke-dashoffset: 19.79;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
    button .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
button .checkmark.checkmark-active path {
    animation: drawCheckmark 0.5s linear alternate forwards;
}

button .checkmark path {
    stroke-dasharray: 19.79 19.79;
    stroke-dashoffset: 19.79;
    stroke: #fff;
    opacity: 0;
}
  
   .section_header {
    text-align: center;
    width: 100%;
}
    button.btn.cart__checkout {
    padding: 18px 0;
}
     
    @media(max-width:768px){
      .half-width-two{
    margin-top: 20%;
      height: 100%;
    position: relative;
    background: #fff;
   }
      .sticky {
    position: fixed;
    bottom: 0%;
    top: auto;
    left: 0;
    right: 0;
    background: #fff;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 10px #d7d7d7;
    padding-top: 14px;
}
    }
    
   .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
         z-index: 9999;
    }
.modal.is-visible {
    visibility: visible;
  opacity:1
}


.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        background-color: white;
       width: 17%;
        border-radius: 0.5rem;
      z-index: 9999;
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 1em;
}

.modal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
      display: flex;
    justify-content: space-between;
}
.modal-header span {
    
    text-align: center;
   
}
.modal-close {
  
    font-size: 30px;
}

.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}
 .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    fill: currentcolor;
}
    
    .modal-wrapper div#SingleOptionSelector-0 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 20px 50px;
}
    
   .modal-wrapper .swatch-element {
    display: flex;
}

  .modal-wrapper .tooltip {
    font-size: 15px;
    text-transform: capitalize;
    margin-left: 11px;
}
   .modal-wrapper  .swatch-element {
    display: flex;
    margin: 7px 0;
}
    span.item-swatch-more, .modal-close {
    cursor: pointer;
}
    body.no-scroll {
    overflow: hidden;
}
    .no-margin button{
      margin: 0;
    padding-bottom: 15px;
    }
    
    @media(max-width:500px){
      
     .modal-wrapper {
  
    width: 70%;
    border-radius: .5rem;

} 
      
    }
    
    
    
    .color-option input.js-radio-button[type=radio]:checked+.swatch-element .swatch {
    padding: 0;
    box-shadow: 0 0 0 1px #000;
}