:root{
  --TitleFont : Montserrat,sans-serif;
  --BodyFont : Montserrat,sans-serif ;
    --mainColor:#333;
}
    
 body{
   font-family:var(--BodyFont);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-transform: none;
    color: #333;
    line-height: 1.6em;
    overflow: auto;
 }

    
     @media(max-width:767px){
      .small--one{
         width:calc(100% - 20px);
      margin:0 auto;
      }
    }
    
 
    @media(min-width:768px){
      .medium--three{
           -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
      }
      .medium--two{
           -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
        
      }
    }
    
   @media(min-width:1200px) {
    .full--four{ 
  
     -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    }
    .full--three{
        -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
    }
    .full--five{
        -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    }
   }
    .product-item{
    padding-right: 15px;
    padding-left: 15px;
    }
    .one-whole{
      
        width:calc(100% - 20px);
    }
    
    .flex_prducts {
    display: flex;
    flex-wrap: wrap;
}
    
    .main_section{
     max-width: 1500px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
} 
    .container{
          position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
      
    }
   div#SingleOptionSelector-0{
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
    
    .color-swatch {
    border-radius: 100%;
}

.color-swatch {
    width: 19px;
      margin: 0 5px;
    height: 19px;
      position: relative;
}
    .visually-hidden {
	display:none;
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}
    
  .color-option .js-radio-button{
     display:none; 
    }
   
.color-option input[type=radio]:checked+.swatch {
    padding: 0px;
    box-shadow: 0px 0px 0px 1px #000;
}
.color-option .swatch {
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    width: 19px;
    border-radius: 100px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 10px #c5c1c1;
      cursor: pointer;
}
 .ajax-cart__drawer {
	 transition: getTransition();
	 position: fixed;
	 z-index: 40;
	 right: -400px;
	 top: 0;
	 width: 400px;
	 height: 100%;
	 background: #f6f6f6;
	 will-change: transform;
	 border-left: 1px solid #e9e9e9;
}
 .ajax-cart__drawer.is-open {
	 transform: translateX(-100%);
}
 .ajax-cart-modal {
	 position: relative;
}
 .ajax-cart-modal__close {
	 position: absolute;
	 right: 10px;
	 top: 10px;
}
 .ajax-cart-modal__content {
	 padding: 20px;
}
 .ajax-cart-drawer {
    position: relative;
    height: 100%;
    overflow: scroll;
}
 .ajax-cart-drawer__close {
	 position: absolute;
	 right: 10px;
	 top: 5px;
}
 .ajax-cart-drawer__content {
	 padding: 25px 25px 190px;
	 height: 100%;
	 overflow: hidden;
	 overflow-y: scroll;
}
 .ajax-cart-drawer__buttons {
	 position: absolute;
	 z-index: 10;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 190px;
	 background: #f6f6f6;
	 padding: 20px;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
}
 .ajax-cart-drawer__buttons .button:last-child {
	 margin-top: auto;
}
 .ajax-cart-item__single {
	 position: relative;
	 margin-bottom: 20px;
	 border-bottom: 2px solid red;
}
 .ajax-cart-item__image {
	 width: 100px;
}
 .ajax-cart-item__remove {
	 right: 5px;
	 width: 15px;
	 height: 15px;
	 background: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiBpY29uLWNsb3NlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGQ9Ik0xNS44OSAxNC42OTZsLTQuNzM0LTQuNzM0IDQuNzE3LTQuNzE3Yy40LS40LjM3LTEuMDg1LS4wMy0xLjQ4NXMtMS4wODUtLjQzLTEuNDg1LS4wM0w5LjY0MSA4LjQ0NyA0Ljk3IDMuNzc2Yy0uNC0uNC0xLjA4NS0uMzctMS40ODUuMDNzLS40MyAxLjA4NS0uMDMgMS40ODVsNC42NzEgNC42NzEtNC42ODggNC42ODhjLS40LjQtLjM3IDEuMDg1LjAzIDEuNDg1czEuMDg1LjQzIDEuNDg1LjAzbDQuNjg4LTQuNjg3IDQuNzM0IDQuNzM0Yy40LjQgMS4wODUuMzcgMS40ODUtLjAzcy40My0xLjA4NS4wMy0xLjQ4NXoiLz4KPC9zdmc+Cg==') center no-repeat;
	 background-size: cover;
	 cursor: pointer;
}
 