<div class="one-whole">
   <div class="main_section">
      <div class="container">
         <div class="section_header">
            <h1> Cart </h1>
         </div>
         </div>
   <div class="container">
<form action="{{ routes.cart_url }}" method="post" novalidate data-location="page" id="CartPageForm">
      <div class="cart__page">
        <div data-products class="cart__page-col">
          {% for item in cart.items %}
            {%- render 'cart-item', product: item -%}
          
          
          {%- endfor -%}
        </div>
        <div class="cart__page-col">
          <div class="cart__item-sub cart__item-row">
        
            <div data-subtotal>{{ cart.total_price | money }}</div>
          </div>

       

          <div class="cart__item-row cart__checkout-wrapper">
            <button type="submit" name="checkout" class="btn cart__checkout">
            checkout
            </button>

            {% if additional_checkout_buttons and settings.cart_additional_buttons %}
              <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>

         
        </div>
      </div>
    </form>
           
        </div>
     </div>
  </div>
</div>